
.message-screen{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.message-screen-title{
    flex: 1;
    background-color: #83C0DA;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
}

.message-display-area{
    flex: 9;
    background-color: #C4C4C4;
}